@import "reset.css";

@import "./components/header.css";
@import "./components/gradient-button.css";
@import "./components/trending-card.css";
@import "./components/avatar.css";
@import "./components/section.css";
@import "./components/footer.css";
@import "./components/modal.css";
/* section hero */
.section-hero {
  padding: 8rem 0;
  background-color: #fafafa;
}

.hero-container {
  display: grid;
  grid-template-columns: 3fr 2fr;
}

.hero-titles {
  text-transform: uppercase;
}

.hero-titles p {
  font-size: 1.4rem;
}

.hero-titles h2 {
  margin: 2rem 0 4rem 0;
  padding: 0 12rem 0 0;
  font-size: 4rem;
}

.hero-titles h4 {
  font-size: 2rem;
  padding: 0 12rem 0 0;
  font-weight: normal;
}

.hero-titles button {
  margin-top: 6rem;
  height: 4.4rem;
  width: 26rem;
}

.hero-titles button svg {
  fill: white;
}

.hero-image-container {
  position: relative;
  aspect-ratio: 1;
}

.hero-image {
  width: 100%;
  height: 100%;
  border-radius: 2.6rem;
}

.hero-image-ball {
  position: absolute;
}

.hero-image-ball.big {
  width: 16rem;
  height: 16rem;
  transform: translateX(-60%);
  bottom: 2rem;
}

.hero-image-ball.small {
  width: 8rem;
  height: 8rem;
  transform: translate(50%, -50%);
  top: 0;
  right: 0;
}
/* section hero end */

/* trending section start */

.section-nav:link,
.section-nav:visited {
  font-size: 1.4rem;
  font-weight: 600;
  letter-spacing: 0.2rem;
  color: #6b6b6b;
}

.section-nav:hover,
.section-nav:active {
  font-size: 1.4rem;
  font-weight: 600;
  letter-spacing: 0.2rem;
  color: #000;
}

/* trending list */
.trending-list {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 3rem;
  row-gap: 8rem;
}

/* trending section end */